img{
    width: 100%;
    
    
   }

   a { /*Revisar */
    text-decoration: none;
    color: rgb(255, 255, 255);
    
  }
  .btn2{
        background-color: #838383;
        border-style:hidden;
        color: white;
    }
    .container2 {
      width: 70%; /* Ejemplo de estilos para el contenedor */
      margin: 0 auto; /* Centrar el contenedor */
      background-color: #e4e4e4; /* Color de fondo para el contenedor */
      padding: 20px; /* Relleno dentro del contenedor */
    }

    .container {
      width: 50%; /* Ejemplo de estilos para el contenedor */
      margin: 0 auto; /* Centrar el contenedor */
      background-color: #e4e4e4; /* Color de fondo para el contenedor */
      padding: 20px; /* Relleno dentro del contenedor */
    }
    .container3{
      width: 50%; /* Ejemplo de estilos para el contenedor */
      margin: 0 auto; /* Centrar el contenedor */
      background-color: #e4e4e4; /* Color de fondo para el contenedor */
      padding: 20px; /* Relleno dentro del contenedor */
    }
    .container4{
      width: 17%; /* Ejemplo de estilos para el contenedor */
      margin: 0 auto; /* Centrar el contenedor */
      background-color: #7e7e7e; /* Color de fondo para el contenedor */
      padding: 20px; /* Relleno dentro del contenedor */
    }
    body {
      background-color: #7e7e7e; /* Color de fondo para fuera del contenedor */
    }

    .btn3{
      background-color: #ceffc1;
      border-style:hidden;
      color: rgb(0, 0, 0);
  }
  .btn4{
    background-color: #ffc8c8;
    border-style:hidden;
    color: rgb(0, 0, 0);
}