<!DOCTYPE html>

<html lang="en">

<head>
    <title>Añadir Equipo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link type="text/css" rel="stylesheet" href="añadirProps.css" />
    <link type="text/css" rel="stylesheet" href="properties.css" />
</head>

<body>
    <div class="container2 mt-5">
        <form action="subelemento/edit" method="post">
            <input type="hidden" name="id" value={{id}}>
        <h2 style="text-align: center">Añadir nuevo equipo</h2>
        <div class="nombre">
            <label for="nombreEquipo">Nombre del equipo:</label>
            <input type="text" class="form-control" id="nombreEquipo" name="nombreEquipo" value="{{equipo.nombreEquipo}}">
        </div>

        <div class="input-group espacio">
            <span class="input-group-text">Descripción</span>
            <textarea class="form-control" aria-label="descripcion" name="descripcion"  rows="3">{{equipo.descripcion}}</textarea>
        </div>

        <div class="row espacio">
            <div class="col-md-4">
                <label for="estadio" class="form-label">Estadio</label>
                <input type="text" class="form-control" id="estadio" name="estadio" value="{{equipo.estadio}}">
            </div>
            <div class="col-md-4">
                <label for="año" class="form-label">Año de creación</label>
                <input type="text" class="form-control" id="fCreacion" name="fCreacion" value="{{equipo.fCreacion}}">
            </div>
            <div class="col-md-4">
                <label for="titulos" class="form-label">Número de títulos</label>
                <input type="text" class="form-control" id="titulos" name="titulos" value="{{equipo.titulos}}">
            </div>
        </div>

        <div class="row espacio">
            <div class="Estilo col-md-6 espacio">
                <select class="selectEstilo" name="estilo" aria-label="Estilo">
                    <option value="0" disabled>Estilo de juego</option>
            <option value="1" {{equipo.estilo === 'Ofensivo' ? 'selected' : ''}}>Ofensivo</option>
            <option value="2" {{equipo.estilo === 'Defensivo' ? 'selected' : ''}}>Defensivo</option>
            <option value="3" {{equipo.estilo === 'Posesión' ? 'selected' : ''}}>Posesión</option>
            <option value="4" {{equipo.estilo === 'Contraataque' ? 'selected' : ''}}>Contraataque</option>
            <option value="5" {{equipo.estilo === 'Juego por las bandas' ? 'selected' : ''}}>Juego por las bandas</option>
            <option value="6" {{equipo.estilo === 'Catenaccio' ? 'selected' : ''}}>Catenaccio</option>
                </select>
            </div>

            <div class="check col-md-6 espacio">
                <input class="form-check-input" type="checkbox" value="" id="champion" name="champion">
                <label class="form-check-label" for="check">Participa en la Champions esta temporada</label>
            </div>
        </div>
        <div class="valorPlantilla espacio">
            <label for="valor">Valor de la plantilla:</label>
            <input type="range" id="valor" name="valor" value="{{equipo.valor}}" min="0" max="1000000000" step="1000000"
                oninput="this.nextElementSibling.value = this.value">
            <output id="outrange" name="outrange" for="valor">{{equipo.valor}}</output>$
        </div>
        
        <div class="input-group mb-3 espacio">
            <span class="input-group-text" id="basic-addon1">Escudo del equipo:</span>
            <input type="text" class="form-control" name="escudo" value = "{{equipo.escudo}}" aria-label="escudo" aria-describedby="basic-addon1">
        </div>
        <div class="row align-items-center">
            <div class="guardar col-md-6 text-center">
                <button class="btn3 btn-primary" type="submit">Guardar</button>
            </div>
            <div class="cancelar col-md-6 text-center">
                <button class="btn4 btn-danger" onclick="cancelar(event)">Cancelar</button>
            </div>
            
            <script>
                function cancelar(event) {
                    event.preventDefault(); // Evita el envío predeterminado del formulario
                    window.location.href = '/'; // Redirige a la página principal
                }
            </script>
        </div>
        </form>
    </div>
</body>