<h2>Jugadores</h2>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Valor de mercado</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {{#equipo.subElementos}}
                <tr>
                    <td>{{nombre}}</td>
                    <td>{{edad}}</td>
                    <td>{{valor}} Millones</td>
                    <td class = "columna-borrar">
                        <img src="papelera.png" alt="Borrar" onclick="deleteJugador('{{id}}', this)" style="cursor: pointer; width: 60%; height: 60%;">
            </td>
                    </td>
                </tr>
                {{/equipo.subElementos}}
                </tr>
            </tbody>
        </table>
