<html>

<title>Top Champion Titles</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"> </script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<!--<script type="module" scr="./generarPagina.js"> </script>-->
<link type="text/css" rel="stylesheet" href="paginaprincipal.css" />


<body>
    
    
       
        <div class ="container ">
            <h1 style="text-align: center;">Champions</h1>   
        </div>
       
       
  
        


    <div class="container3" , id="contenedorPrincipal">       
        <!--<script type ="module"> import {generarHTML} from "./generarPagina.js"; generarHTML();   </script> -->

        {{^equipos}}
        <div class="vacio">
            NO HAY NINGUN EQUIPO
        </div>
        {{/equipos}}

        
        {{#equipos}} 
        <div class="row">
            <div class="col-md-6">
                <div class="itemR">
                    <a class="equipo" href="subelemento.html?id={{identificador}}"><img src="{{escudo}}"/> {{nombreEquipo}} </a> 
                    <a class="trofeo" href="subelemento.html?id={{identificador}}" ><img src="Trofeo.png" /> {{titulos}} </a> 
                </div>
            </div>       
        </div>
        {{/equipos}} 
       
    </div>

    <div class="container4">
        <div class="botonCrear">
            <a href="añadirElemento.html" class="btn btn-secondary btn-lg">
                <i class="bi bi-plus"></i> Crear nuevo elemento
            </a>
        </div>
    </div>

</body>

</html>