<html>

<title>Top Champion Titles</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"> </script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<link type="text/css" rel="stylesheet" href="paginaprincipal.css" />

<style>
    .contenedor {
      display: flex;
      flex-wrap: wrap;
      background-color: #d4d4d4;

      width: 70%;
      height: auto;
      margin: auto; 

      padding: 20px;
      align-self: center;
     max-width: fit-content;
    }

    .fila {
       width: 50%;
       flex: 0 0 auto;
      min-width: 150px; /* Cada fila ocupa la mitad del contenedor */
      box-sizing: border-box;
      
      padding: 10px;
    }
  </style>
<body>
    
    
       
        <div class ="container ">
            <h1 style="text-align: center;">Champions</h1>   
        </div>
       
       
  
        

    
    <div class="contenedor">       
        

        {{^equipos}}
        <div class="vacio">
            NO HAY NINGUN EQUIPO
        </div>
        {{/equipos}} 

        {{#equipos}}
        <div class="fila">
            <div class="itemR" onclick="window.location.href='subelemento.html?id={{identificador}}';" style="cursor: pointer;">
                <a class="equipo"><img src="{{escudo}}"/> Real Madrid</a> 
                <a class="trofeo"><img src="Trofeo.png" /> 14 </a> 
            </div>
            
        </div>
       {{/equipos}}

       
    </div>

    <div class="container4">
        <div class="botonCrear">
            <a href="añadirElemento.html" class="btn btn-secondary btn-lg">
                <i class="bi bi-plus"></i> Crear nuevo elemento
            </a>
        </div>
    </div>

</body>

</html>